<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title> Digesto Admin </title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/smartadmin-production.min.css">
	        <link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/smartadmin-skins.min.css">
        	<link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/digesto.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/smartadmin-rtl.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/digesto/css/demo.min.css">
		<link rel="shortcut icon" href="/digesto/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/digesto/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
		<link rel="apple-touch-icon" href="/digesto/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/digesto/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/digesto/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/digesto/img/splash/touch-icon-ipad-retina.png">
	</head>
	<body class="">
		<header id="header">
			<div id="logo-group">
				<span id="logo"> <img src="/digesto/img/logo_digesto.png" alt="Digesto Admin"> </span>
			</div>

			<div class="pull-right">

				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>

				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
							<img src="/digesto/img/avatars/sunny.png" alt="John Doe" class="online" />  
						</a>
					</li>
				</ul>

				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/digesto/admin/logout" title="Salir" data-action="userLogout" data-logout-msg="Para mayor seguridad cierre el navegador"><i class="fa fa-sign-out"></i></a> </span>
				</div>

				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>

			</div>

		</header>

		<aside id="left-panel">

			<div class="login-info">
				<span> 
					
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="/digesto/img/avatars/sunny.png" alt="me" class="online" /> 
						<span>
							Admin
						</span>
						<i class="fa fa-angle-down"></i>
					</a> 
					
				</span>
			</div>
