	  <!-- ========== FOOTER ========== -->
		<footer class="gradient-half-primary-v1">
			<div class="container space-top-2 space-bottom-1">
			<div class="row justify-content-lg-start mb-7">
				<div class="col-sm-9 col-lg-4 mb-7">
				<!-- Logo -->
				<a class="d-inline-flex align-items-center mb-3 color-white" href="/digesto/" aria-label="Home">
					<i class="icon icon-search-1 ln-shadow-logo shape-0"></i>
					<span class="brand brand-light">Digesto</span>Legislativo
				</a>
				<!-- End Logo -->
		
				<p class="small text-white-70">Digesto es una web de la HCS con el objetivo de proveer al p&uacute;blico en general las leyes.</p>
				</div>
		
				<div class="col-6 col-sm-4 col-lg-2 ml-lg-auto mb-4">
				<h3 class="h6 text-white">Contacto</h3>
		
				<!-- List Group -->
				<ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
					<li><a class="list-group-item list-group-item-action" href="/digesto/contacts">Contacto</a></li>
					<li><a class="list-group-item list-group-item-action" href="mailto:digesto@senado.gov.py">digesto@senado.gov.py</a></li>
					<li><a class="list-group-item list-group-item-action" href="malto:legislativod@gmail.com">legislativod@gmail.com</a></li>
					<li><a class="list-group-item list-group-item-action" href="tel:+595214145000">(021) 414 5000</a></li>
				</ul>
				<!-- End List Group -->
				</div>
		
				<div class="col-6 col-sm-4 col-lg-2 mb-4">
				<h3 class="h6 text-white">Ley</h3>
		
				<!-- List Group -->
				<ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
					<li><a class="list-group-item list-group-item-action" href="/digesto/ley5282">Ley 5282/2014</a></li>
				</ul>
				<!-- End List Group -->
				</div>
			</div>
		
			<div class="row align-items-center">
				<div class="col-sm-6 mb-3 mb-sm-0">
				<!-- Social Networks -->
				<ul class="list-inline mb-0">
					<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://www.facebook.com/DigestoLegislativopy">
						<span class="fab fa-facebook-f btn-icon__inner"></span>
					</a>
					</li>
					<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://twitter.com/DigestoLeg_py">
						<span class="fab fa-twitter btn-icon__inner"></span>
					</a>
					</li>
				</ul>
				<!-- End Social Networks -->
				</div>
		
				<div class="col-sm-6 text-sm-right">
				<!-- Copyright -->
				<p class="small text-white-70 mb-0">© Digesto Legislativo 2022 | Todos los derechos reservados.</p>
				<!-- End Copyright -->
				</div>
			</div>
			</div>
		</footer>
		<!-- ========== END FOOTER ========== -->



	  <!-- Go to Top -->
	  <a class="js-go-to u-go-to" href="#"
		data-position='{"bottom": 15, "right": 15 }'
		data-type="fixed"
		data-offset-top="400"
		data-compensation="#header"
		data-show-effect="slideInUp"
		data-hide-effect="slideOutDown">
		<span class="fas fa-arrow-up u-go-to__inner"></span>
	  </a>
	  <!-- End Go to Top -->

	  <!-- JS Global Compulsory -->
	  <script src="/digesto/assets/vendor/jquery/dist/jquery.min.js"></script>
	  <script src="/digesto/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
	  <script src="/digesto/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
	  <script src="/digesto/assets/vendor/bootstrap/bootstrap.min.js"></script>

	  <!-- JS Implementing Plugins -->
	  <script src="/digesto/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
	  <script src="/digesto/assets/vendor/slick-carousel/slick/slick.js"></script>
	  <script src="/digesto/assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
	  <script src="/digesto/documentation/assets/vendor/jquery-ui/jquery-ui.core.min.js"></script>
	  <script src="/digesto/documentation/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
	  <script src="/digesto/documentation/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
	  <script src="/digesto/documentation/assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>
	  <script src="/digesto/documentation/assets/vendor/prism/prism.js"></script>
	  <script src="/digesto/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
	  <script src="/digesto/assets/vendor/typed.js/lib/typed.min.js"></script>

	  <!-- JS Front -->
	  <script src="/digesto/assets/js/hs.core.js"></script>
	  <script src="/digesto/assets/js/components/hs.header.js"></script>
	  <script src="/digesto/assets/js/components/hs.unfold.js"></script>
	  <script src="/digesto/assets/js/components/hs.svg-injector.js"></script>
	  <script src="/digesto/assets/js/components/hs.focus-state.js"></script>
	  <script src="/digesto/assets/js/components/hs.slick-carousel.js"></script>
	  <script src="/digesto/assets/js/components/hs.show-animation.js"></script>
	  <script src="/digesto/assets/js/components/hs.go-to.js"></script>

	  <!-- JS Plugins Init. -->
	  <script>
		$(window).on('load', function () {
		  // initialization of HSMegaMenu component
		  $('.js-mega-menu').HSMegaMenu({
			event: 'hover',
			pageContainer: $('.container'),
			breakpoint: 767.98,
			hideTimeOut: 0
		  });

		  // initialization of svg injector module
		  $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
		});

		$(document).on('ready', function () {
		  // initialization of header
		  $.HSCore.components.HSHeader.init($('#header'));

		  // initialization of unfold component
		  $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

		  // initialization of forms
		  $.HSCore.components.HSFocusState.init();

		  // initialization of slick carousel
		  $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

		  // initialization of go to
		  $.HSCore.components.HSGoTo.init('.js-go-to');

		});
	  </script>
</body>
